.dropdown {
	margin: 1rem 0;
}

.dropdown .entete {
	background-color: var(--primary-color);
	border-radius: 5px;
	color: #fff;
	font-size: .9rem;
	padding: .3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.dropdown .entete img {
	width: 70%;
	transform: rotate(180deg);
}

.reverse img {
	transform: rotate(0) !important;
}

.dropdown .content {
	background-color: #f6f6f6;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: .5rem .3rem;
	color: var(--primary-color);
	min-height: 100px;
	font-size: 1.3rem;
}

.hide-class {
	display: none;
}