.header_location {
	display: flex;
	justify-content: space-between;
}

.header_location h2, .header_location h3, .info_profil span {
	color: var(--primary-color);
	margin: 12px 0;
}

.header_location h2 {
	font-size: 2.4rem;
	font-weight: 300;
}

.header_location h3 {
	font-weight: 300;
}

.main_content_location li {
	list-style: none;
}

.main_content_location {
	display: flex;
	justify-content: space-between;
}

.main_content_location .dropdown {
	width: 48%;
}

.main_content_location .dropdown .content {
	min-height: 170px;
}

.header_location_right {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info_profil {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
}

.info_profil span {
	font-size: 1.3rem;
	text-align: right;
	padding-right: 10px;
}

.info_profil img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

@media screen and (max-width: 768px) {
	.header_location {
		flex-direction: column;
	}

	.header_location h2 {
		font-size: 2rem;
	}

	.header_location h3 {
		font-size: 1.2rem;
	}

	.main_content_location {
		flex-direction: column;
	}
	.main_content_location .dropdown {
		width: 100%;
	}

	.header_location_right {
		flex-direction: row-reverse;
		align-items: center;
	}

	.info_profil img {
		width: 50px;
		height: 50px;
	}
	.info_profil span {
		font-size: 1rem;
	}

	.rating img {
		width: 1.4rem;
	}
}