.error_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 80vh;
}

span._404 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 230px;
}

.oups {
	font-size: 40px;
	text-align: center;
	max-width: 75%;
}

.error_section, a {
	color: var(--primary-color);
	font-size: 30px;
}

@media screen and (max-width: 768px) {
	span._404 {
		font-size: 120px;
	}

	.oups {
		font-size: 22px;
	}

	.error_section a {
		font-size: 18px;
	}
}