#hebergements {
	background-color: #f6f6f6;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#hebergements > a {
	border-radius: 10px;
	display: block;
	width: 30%;
	margin-bottom: 15px;
	margin-top: 15px;
	overflow: hidden;
}

#hebergements > a:hover {
	transform: scale(1.05);
	transition: .5s;
}

.card img {
	border-radius: 10px;
	object-fit: cover;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	#hebergements > a {
		height: 250px;
		width: 90%;
	}

	#hebergements > a:hover {
		transform: scale(1);
	}
}