.card {
	position: relative;
	height: 100%;
	width: 100%;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0;
}

.card h2 {
	position: absolute;
	font-size: 1.5rem;
	color: #fff;
	left: 5%;
	top: 80%;
}