.carousel {
	position: relative;
	background-color: black;
	width: 100%;
	height: 40vh;
	max-height: 310px;
	border-radius: 15px;
	border: 1px solid black;
	margin-bottom: 20px;
}

.carousel .buttons {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.previous, .next {
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	height: 50px;
	width: 50px;
}

.previous {
	left: 15px;
}

.next {
	right: 15px;
}

.info {
	position: absolute;
	color: white;
	bottom: 5%;
	font-size: 1.7rem;
}

.previous img {
	transform: rotate(90deg);
}
.next img {
	transform: rotate(-90deg);
}


@media screen and (max-width: 768px) {
	.carousel {
		max-height: 200px;
	}

	.previous, .next {
		height: 30px;
		width: 30px;
	}

	.info {
		font-size: 1rem;
	}
}