* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: auto;
	min-height: 100vh;
	width: 100%;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
}

.App > div {
	margin: auto;
	max-width: 1920px;
	padding: 1rem 3%;
}

:root {
	--primary-color: #ff6060;
}